<%- include('header'); -%>

<header>
  <div class="container-fluid bg-info-subtle mb-4">
      <div class="col-sm-8 mx-auto text-center py-2">
          <h1 class="display-4">World of Ice Cream</h1>
          <p class="lead ">Feedback from ice cream lovers....</p>
      </div>
  </div>
</header>

<main>
  <div class="container">
      <h3><%= title %></h3>

      <p>
          It is time to find out what people really think about <strong>Ice Cream</strong> and
          the easiest way is to ask them directly. Web-based forms offer a great method to gathering
          all sorts of information. The trick is how to store/use it on the server.
      </p>

      <h5>Feedback</h5>
      <p>
          Please complete the form below to provide some valuable feedback on your favourite ice cream.
      </p>

      <div id="formContainer">

          <form action="/feedback" method="post" id="postFeedbackForm">
              <div class="row mb-2">
                  <label class="col-sm-2 col-form-label-sm text-sm-end" for="customer">Name:</label>
                  <div class="col-sm-9">
                      <input type="text" class="form-control" id="customer" placeholder="Enter your name"
                          name="name" >
                  </div>
              </div>
              <div class="row mb-2">
                  <label class="col-sm-2 col-form-label-sm text-sm-end" for="icecreamtype">Favourite:</label>
                  <div class="col-sm-9">
                      <select class="form-select" aria-label="Default select example" id="icecreamtype"
                          name="icecreamtype">
                          <option value="">Choose your favourite ice cream...</option>
                          <option>Vanilla</option>
                          <option>Chocolate</option>
                          <option>Strawberry</option>
                          <option>Mint Chocolate Chip</option>
                          <option>Cookies and Cream</option>
                          <option>Rocky Road</option>
                          <option>Butter Pecan</option>
                          <option>Coffee</option>
                          <option>Cookie Dough</option>
                          <option>Chocolate Chip Cookie Dough</option>
                      </select>
                  </div>
              </div>
              <div class="row mb-2">
                  <label class="col-sm-2 col-form-label-sm text-sm-end">Rating:</label>
                  <div class="col-sm-9 text-primary">
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="rating" id="inlineRadio1" value=1>
                          <label class="form-check-label" for="inlineRadio1">&#9733;</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="rating" id="inlineRadio2" value=2>
                          <label class="form-check-label" for="inlineRadio2">&#9733;&#9733;</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="rating" id="inlineRadio3" value=3>
                          <label class="form-check-label" for="inlineRadio3">&#9733;&#9733;&#9733;</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="rating" id="inlineRadio4" value=4>
                          <label class="form-check-label" for="inlineRadio4">&#9733;&#9733;&#9733;&#9733;</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="rating" id="inlineRadio5" value=5>
                          <label class="form-check-label"
                              for="inlineRadio5">&#9733;&#9733;&#9733;&#9733;&#9733;</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="rating" id="inlineRadio5" value=99>
                        <label class="form-check-label"
                            for="inlineRadio5">&#9733;x99!</label>
                    </div>
                  </div>
              </div>
              <div class="row mb-2">
                  <label class="col-sm-2 col-form-label-sm text-sm-end" for="feedback">Feedback:</label>
                  <div class="col-sm-9">
                      <textarea rows="5" class="form-control" id="feedback" name="feedback"
                          placeholder="Please type your comment/feedback here..."></textarea>
                  </div>
              </div>
              <div class="row mt-4">
                  <div class="col-sm mx-auto d-flex justify-content-center ">
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                  <div class="col-sm mx-auto d-flex justify-content-center">
                      <button type="reset" class="btn btn-primary">Reset</button>
                  </div>
              </div>
          </form>
      </div>

  </div>
</main>

<%- include('footer'); -%>
